body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f6;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.logo {
  height: 40px;
  margin-right: 20px;
}

#globalSearch {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px); /* Adjusted for header height */
}

.sidebar {
  width: 250px;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  transition: width 0.3s, padding 0.3s;
  font-size: 20px;
  border-right: 1px solid #ddd;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.sidebar ul li:hover {
  background-color: #3d566e;
}

.content {
  flex: 1;
  padding: 30px;
  box-sizing: border-box;
  background-color: #fff;
  overflow-y: auto;
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.note:hover {
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  box-shadow: 0 4px 8px rgba(89, 172, 11, 0.15);
}

.note h3 {
  margin: 0;
  margin-right: 20px;
  white-space: nowrap;
  color: #34495e;
}

.note p {
  margin: 0;
  flex: 1;
  color: #7f8c8d;
}

.copy-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.copy-button:hover {
  background-color: #2980b9;
}

.copy-button.copied {
  background-color: #2ecc71;
  color: #fff;
}
